* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
}

.navbar {
  background-color: #023e8a;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.navbar h1 {
  font-size: 2.5rem;
}
.navbar p {
  font-size: 1.25rem;
}

.navbar a {
  color: #10a5d6;
  text-decoration: none;
}
.navbar a:hover {
  color: #77e2ff;
}

.title {
  text-align: center;
  padding: 1.5rem;
}

.title h3 {
  font-size: 2.75rem;
}

.title p {
  font-size: 1.5rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
}

.card {
  background: #0096c7;
  color: #fff;
  height: 300px;
}

.card h2 {
  background: #023e8a;
  font-size: 1.75rem;
  color: #fff;
  text-align: center;
  padding: 0.75rem;
}

.text-wrap {
  font-size: 1.75rem;
  padding: 3rem 0;
  margin: 0 3rem;
}

.text-wrap p {
  margin: 1rem 0;
}

.text-wrap span {
  margin-left: 1rem;
}
